
#friends-screen .status-bar,
#friends-screen .screen-header{
    background-color: white;
}

.test {
    padding-top: 100px;
}

#friends-display-link {
    text-align: center;
    display: block;
    background-color: var(--mint);
    padding: 15px 0;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

#friends-display-link i {
    color: white;
}

.friends-screen {
    padding: 0 var(--horizontal-space);
    margin-bottom: 150px;
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
    z-index: 99;
}

#splash-screen img {
    width: 30px;
}

#splash-screen .bbang,
#splash-screen .talk {
    display: flex;

}

#splash-screen .talk {
    margin-top: 25px;
}